<div aria-live="assertive" aria-atomic="true" style="position: relative; min-height: 100px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;" data-delay="5000">
        <div class="toast-header">
            <strong class="mr-auto">Info</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">

        </div>
    </div>
</div>
<div style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Mix song</h5>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" onchange="setMixFile(this.files[0])" name="mixFile"
                                class="custom-file-input" id="mix-file">
                            <label class="custom-file-label" for="mix-file">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" onclick="uploadMix()"
                                type="button">Upload</button>
                        </div>
                    </div>
                    <small id="mix-song-info" class="form-text text-muted d-block"></small>
                    <small class="form-text text-muted d-block">Suported files: <code>.mp3</code></small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Banner</h5>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" onchange="setBannerFile(this.files[0])" class="custom-file-input"
                                id="inputGroupFile04">
                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" onclick="uploadBanner()"
                                type="button">Upload</button>
                        </div>
                    </div>
                    <small id="banner-info" class="form-text text-muted d-block"></small>
                    <small class="form-text text-muted d-block">Suported files: <code>.jpg, .png</code></small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Album Art</h5>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" onchange="setAlbumArtFile(this.files[0])" class="custom-file-input"
                                id="inputGroupFile04">
                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" onclick="uploadAlbumArt()"
                                type="button">Upload</button>
                        </div>
                    </div>
                    <small id="album-art-info" class="form-text text-muted d-block"></small>
                    <small class="form-text text-muted d-block">Suported files: <code>.jpg, .png</code></small>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h5 class="card-title">Mix Song Stats</h5>
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date Uploaded</th>
                    <th scope="col">File Name</th>
                    <th scope="col">View Count</th>
                </tr>
            </thead>
            <tbody id="stats-tbody">

            </tbody>
        </table>
    </div>

</div>


<script>
    fetch('http://localhost:3009/hits').then(response => response.json())
        .then(data => {
            if (data.status) {
                console.log(data)
                let rows = data.result.map((item, index) => {
                    return `<tr>
                    <th scope="row">${index + 1}</th>
                    <td>${new Date(item.createdAt).toDateString()}</td>
                    <td>${item.fileName}</td>
                    <td>${item.hits}</td>
                </tr>`
                })
                $('#stats-tbody').html(rows)
            }
        });

    let mixFile;
    let bannerFile;
    let albumArtFile;
    function setMixFile(file) {
        let extArr = file.name.split('.');
        if (file.type == 'audio/mpeg' && extArr[extArr.length - 1] == 'mp3') {
            mixFile = file;
            $('#mix-song-info').html(file.name)
        } else {
            $('.toast-body').html('Invalid file. Only MP3 files are supported')
            $('.toast').toast('show', { delay: 5000 })
        }

    }
    function setBannerFile(file) {
        console.log(file)
        let extArr = file.name.split('.');
        if ((file.type == 'image/jpeg' || file.type == 'image/png') && (extArr[extArr.length - 1] == 'jpg' || extArr[extArr.length - 1] == 'png')) {
            bannerFile = file;
            $('#banner-info').html(file.name)
        } else {
            $('.toast-body').html('Invalid file. Only JPG files are supported')
            $('.toast').toast('show', { delay: 5000 })
        }
    }
    function setAlbumArtFile(file) {
        console.log(file)
        let extArr = file.name.split('.');
        if ((file.type == 'image/jpeg' || file.type == 'image/png') && (extArr[extArr.length - 1] == 'jpg' || extArr[extArr.length - 1] == 'png')) {
            albumArtFile = file;
            $('#album-art-info').html(file.name)
        } else {
            $('.toast-body').html('Invalid file. Only JPG files are supported')
            $('.toast').toast('show', { delay: 5000 })
        }
    }
    function uploadMix() {
        const fd = new FormData();
        fd.append("track", mixFile)
        const req = new XMLHttpRequest();
        req.open('POST', 'http://localhost:3009/add');
        req.responseType = 'json'
        req.send(fd);
        req.onload = () => {
            console.log(req.response);
            if (req.response.status) {
                $('.toast-body').html('Mix song uploaded successfully')
                $('.toast').toast('show', { delay: 5000 });
                mixFile = null;
                $('#mix-song-info').html('')
            } else {
                $('.toast-body').html('Something went wrong!')
            }

        }
    }
    function uploadBanner() {
        const fd = new FormData();
        fd.append("art", bannerFile)
        fd.append("type", "0")
        const req = new XMLHttpRequest();
        req.open('POST', 'http://localhost:3009/addArt');
        req.responseType = 'json'
        req.send(fd);
        req.onload = () => {
            console.log(req.response);
            if (req.response.status) {
                $('.toast-body').html('Banner uploaded successfully')
                $('.toast').toast('show', { delay: 5000 });
                bannerFile = null;
                $('#banner-info').html('')
            } else {
                $('.toast-body').html('Something went wrong!')
            }

        }
    }

    function uploadAlbumArt() {
        const fd = new FormData();
        fd.append("art", albumArtFile)
        fd.append("type", "1")
        const req = new XMLHttpRequest();
        req.open('POST', 'http://localhost:3009/addArt');
        req.responseType = 'json'
        req.send(fd);
        req.onload = () => {
            console.log(req.response);
            if (req.response.status) {
                $('.toast-body').html('Album art uploaded successfully')
                $('.toast').toast('show', { delay: 5000 });
                albumArtFile = null;
                $('#album-art-info').html('')
            } else {
                $('.toast-body').html('Something went wrong!')
            }

        }
    }

</script>